requests
protobuf
swig
gymnasium
gymnasium[atari,accept-rom-license,box2d,mujoco]
mujoco
box2d
box2d-py
box2d-kengz
tensorboardX
jax[cuda12]
dm_pix
dm-haiku
flax
equinox
scipy
optax
numpy
ray[default]
cpprb
imageio-ffmpeg
ffmpeg
moviepy
decorator
opencv-python
pre-commit
