requests
protobuf
swig
gymnasium
gymnasium[atari,box2d,mujoco]
autorom[accept-rom-license]
mujoco
box2d
box2d-py
box2d-kengz
tensorboardX
jax[cuda12]
dm_pix
dm-haiku
flax
equinox
scipy
optax
numpy
ray[default]
cpprb @ git+https://github.com/tinker495/cpprb
imageio-ffmpeg
ffmpeg
moviepy
decorator
opencv-python
pre-commit
envpool
